:root {
    --accent: #FFB800;
    --grey: #6D6D6D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calculator {
    width: 360px;
    height: 670px;
    background-color: #1C1C1C;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 211px;
    border-bottom: 1px solid #fff;
    padding: 5px 30px;
    color: #fff;
    font-weight: 400;
    font-size: 64px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
    gap: 7px;
    padding: 20px;
    align-content: center;
    justify-content: center;
}

.round {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1c1c1c;
    border-radius: 999px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

.round:active::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 999px;
    background-color: #00000029;
}

.zero {
    grid-column: 1 / 3;
    justify-content: start;
    padding-left: 30px;
}

.zero:active::after {
    content: '';
    position: absolute;
    left: 10px;
    width: 167px;
    height: 80px;
    border-radius: 999px;
    background-color: #00000029;
}

.accent {
    background-color: var(--accent);
}

.grey {
    background-color: var(--grey);
}