/* Normalize elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles */
#root {
    height: 100vh;
    width: 100vw;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 90px 4fr 0.5fr;
}

.container {
    padding: 0 10px;
}

.header,
.footer {
    grid-column: 1 /-1;
    align-self: center;
}

.header {
    background-color: #d4d4d4;
    box-shadow: inset 0px 0px 5px #00000051;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 96px;
}

.main {
    grid-column: 2/-2;
    align-self: center;
}

h1 {
    font-size: 42px;
    text-align: center;
}

#auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    max-width: 320px;
    margin: 35px auto 0;
}

#auth input {
    height: 45px;
    border-radius: 25px;
    padding: 15px;
}

#auth button {
    margin-top: 15px;
    height: 45px;
    border-radius: 14px;
}

.footer {
    border-top: 1px solid lightgray;
    height: 100%;
    background-color: #d4d4d4;
    box-shadow: inset 0px 0px 5px #00000062;
}

.footer-menu {
    height: 100%;
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
    justify-content: center;
}