body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    min-width: 420px;
    max-width: 920px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;

}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-container input,
.form-container select {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(73, 208, 163);
    color: #fff;
    cursor: pointer;
}

.form-container button:hover {
    background-color: aquamarine;
}

.transactionContainer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.transactionContainer div {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    border-left: 5px solid rgb(73, 208, 163);
}