body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  max-width: 1180px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid darkgray;
  background-color: steelblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.header img {
  max-height: 70px;
}
nav {
  flex-grow: 1;
}
nav > ul {
  list-style: none;
  display: flex;
  /* border: 1px solid black; */
  gap: 50px;
  margin: 0 25px;
  color: aliceblue;
}
nav > ul > li > a {
  text-decoration: none;
  color: aliceblue;
}
nav > ul > li > a:hover {
  cursor: pointer;
  text-decoration: underline;
}
